<div class="row">
    <div class="col">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name" class="form-label">name</label>
                    <input type="text" id="name" class="form-control" #kind>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control" #amount>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button style="margin: 5px;" class="btn btn-success" type="submit" (click)="addIng(kind,amount)">Add</button>
                    <button style="margin: 5px;" class="btn btn-danger" type="button">Delete</button>
                    <button style="margin: 5px;" class="btn btn-primary" type="button">clear</button>
                </div>
            </div>
        </form>
    </div>
</div>